/* Geral ----- */

body {
    margin: 0px;
    background-image: linear-gradient(-90deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 50%, rgba(242, 242, 242, 1) 50%, rgba(255, 255, 255) 50%, rgba(255, 255, 255) 100%);
}

.centralizador {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.esquerda {
    float: left;
}

.direita {
    float: right;
}

.sidebar {
    background: white;
}

.grid {
    display: flex;
}

ul.grid, ul.items, ul.lines {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li.item {
    margin-bottom: 10px;
}

li.item:last-child {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}